

.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;

}
.nav {

display: inline-block;
float: right;
}


.My {

  display: flex;
  align-content: center;
}
